<!-- basic scripts -->
<!--[if !IE]> -->
<script src="<%.cdn%>/js/jquery.js"></script>
<script src="<%.cdn%>/js/jquery-ui.js"></script>
<script src="<%.cdn%>/js/jquery.ui.touch-punch.js"></script>
<!-- <![endif]-->
<!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='<%.cdn%>/js/jquery1x.js'>"+"<"+"/script>");
    </script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write(
        "<script src='<%.cdn%>/js/jquery.mobile.custom.js'>" + "<" +
        "/script>");
</script>
<script src="<%.cdn%>/js/bootstrap.js"></script>
<script src="<%.cdn%>/js/jquery.bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<!-- ace scripts -->
<script src="<%.cdn%>/js/chosen.jquery.js"></script>
<script src="<%.cdn%>/js/jquery.validate.js"></script>
<script src="<%.cdn%>/js/select2.js"></script>
<script src="<%.cdn%>/js/date-time/moment.js"></script>
<script src="<%.cdn%>/js/date-time/bootstrap-datepicker.js"></script>
<script src="<%.cdn%>/js/bootstrap-multiselect.js"></script>

<script src="<%.cdn%>/js/kindeditor-4.1.10/kindeditor-min.js"></script>
<script src="<%.cdn%>/js/kindeditor-4.1.10/lang/zh_CN.js"></script>
<script src="<%.cdn%>/js/ace/elements.wizard.js"></script>
<script src="<%.cdn%>/js/ace/elements.aside.js"></script>
<script src="<%.cdn%>/js/ace/ace.js"></script>
<script src="<%.cdn%>/js/ace/ace.ajax-content.js"></script>
<script src="<%.cdn%>/js/ace/ace.touch-drag.js"></script>
<script src="<%.cdn%>/js/ace/ace.sidebar.js"></script>
<script src="<%.cdn%>/js/ace/ace.sidebar-scroll-1.js"></script>
<script src="<%.cdn%>/js/ace/ace.submenu-hover.js"></script>
<script src="<%.cdn%>/js/ace/ace.widget-box.js"></script>
<script src="<%.cdn%>/js/ace/ace.settings.js"></script>
<script src="<%.cdn%>/js/ace/ace.settings-rtl.js"></script>
<script src="<%.cdn%>/js/ace/ace.settings-skin.js"></script>
<script src="<%.cdn%>/js/ace/ace.widget-on-reload.js"></script>
<script src="<%.cdn%>/js/ace/ace.searchbox-autocomplete.js"></script>
<script src="<%.cdn%>/js/dataTables/jquery.dataTables.js"></script>
<script src="<%.cdn%>/js/dataTables/jquery.dataTables.bootstrap.js"></script>
<script src="<%.cdn%>/js/jquery-ui.easydialog.js"></script>
<script src="<%.cdn%>/js/app.dest.min.js"></script>
<script src="<%.cdn%>/js/common.js"></script>
