<div class="widget-box">
    <div class="widget-header widget-header-blue widget-header-flat">
        <h4>
            <%.Model.Name%><input type="hidden" id="menuID" value="<%.Model.ID%>" />
        </h4>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            <form class="form-horizontal" id="validation-form" method="POST">
                <div class="form-group">
                    <div class="group">
                        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="moduleID">模块名称:</label>

                        <div class="col-xs-12 col-sm-4">
                            <div class="clearfix">
                                <select class="input-medium" id="moduleID" name="moduleID" data-placeholder="请选择模块">
                                    <%range $key, $val := .Modules%>
                                    <option value="<% $val.Value%>" <%if $val.Selected%> selected="selected" <%end%> > <% $val.Text%></option>
                                    <%end%>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="menuPID">上级菜单:</label>

                        <div class="col-xs-12 col-sm-4">
                            <div class="clearfix">
                                <select class="input-medium" id="menuPID" name="menuPID" data-placeholder="请选择上级菜单">
                                    <%range $key, $val := .ParenMenus%>
                                    <option value="<% $val.Value%>" <%if $val.Selected%> selected="selected" <%end%> > <% $val.Text%></option>
                                    <%end%>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="menuName">菜单名称:</label>

                        <div class="col-xs-12 col-sm-4">
                            <div class="clearfix">
                                <input type="text" name="menuName" id="menuName" value="<%.Model.Name%>" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="menuIconUrl">菜单图标:</label>

                        <div class="col-xs-12 col-sm-4">
                            <div class="clearfix">
                                <input type="text" name="menuIconUrl" id="menuIconUrl" value="<%.Model.IconUrl%>"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="menuNavUrl">菜单地址:</label>

                        <div class="col-xs-12 col-sm-4">
                            <div class="clearfix">
                                <input type="text" name="menuNavUrl" id="menuNavUrl" value="<%.Model.NavUrl%>"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="menuDesc">菜单描述:</label>

                        <div class="col-xs-12 col-sm-4">
                            <div class="clearfix">
                                <input type="text" name="menuDesc" id="menuDesc" value="<%.Model.Desc%>" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="actionID">菜单权限:</label>

                        <div class="col-xs-12 col-sm-4">
                            <div class="clearfix">
                                <input type="text" name="actionID" id="actionID" value="<%.Model.ActionID%>" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="group">
                        <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="">排序编号:</label>

                        <div class="col-xs-12 col-sm-4">
                            <div class="clearfix">
                                <input type="text" name="sortIndex" id="sortIndex" value="<%.Model.SortIndex%>" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space-2"></div>
            </form>

        </div>
        <!-- /.widget-main -->
    </div>
    <!-- /.widget-body -->
</div>

<script src="<%.cdn%>/js/chosen.jquery.js"></script>
<script>
    function submitEvent()
    {
        if ($('#validation-form').valid())
        {
            var submitData = {
                ID: parseInt($("#menuID").val()),
                ModuleID: parseInt($("#moduleID").val()),
                PID: parseInt($("#menuPID").val()),
                Name: $("#menuName").val(),
                IconUrl: $("#menuIconUrl").val(),
                NavUrl: $("#menuNavUrl").val(),
                Desc: $("#menuDesc").val(),
                ActionID: $("#actionID").val(),
                SortIndex: parseInt($("#sortIndex").val())

            };
            var url = "/system/menu/save";
            $.post(url, JSON.stringify(submitData), function(data)
            {
                if (data.code == "0000") {
                    closedialog_and_refreshdatatable("#dialogModal", "#table_menu");
                    return true;
                } else {
                    ace_alert("错误", data.message);
                    return false;
                }
            });

        }
        else
        {

        }
    }


    jQuery(function($)
    {
        $('#validation-form').validate(
        {
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules:
            {
                moduleId:
                {
                    required: true,
                },
                menuPId:
                {
                    required: true,
                },
                menuName:
                {
                    required: true,
                    maxlength: 128,
                },
                menuIconUrl:
                {
                    required: true,
                    maxlength: 128,
                },
                menuNavUrl:
                {
                    required: true,
                    maxlength: 128,
                },
                menuName:
                {
                    required: true,
                    maxlength: 128,
                },
                roleDesc:
                {
                    required: true,
                    maxlength: 256,
                },
                recordStatus:
                {
                    required: true,
                }
            },
            messages:
            {
                roleName:
                {
                    required: "请输入角色名称.",
                    maxlength: "角色名称最多只能输入128个字符.",
                },
                roleDesc:
                {
                    required: "请输入角色描述.",
                    maxlength: "角色描述最多只能输入256个字符.",
                },
                userDisplayName: "请选择状态."
            },


            highlight: function(e)
            {
                $(e).closest('.group').removeClass(
                    'has-info').addClass('has-error');
            },

            success: function(e)
            {
                $(e).closest('.group').removeClass(
                    'has-error'); //.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function(error, element)
            {
                if (element.is('input[type=checkbox]') ||
                    element.is('input[type=radio]'))
                {
                    var controls = element.closest(
                        'div[class*="col-"]');
                    if (controls.find(':checkbox,:radio')
                        .length > 1) controls.append(
                        error);
                    else error.insertAfter(element.nextAll(
                        '.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2'))
                {
                    error.insertAfter(element.siblings(
                        '[class*="select2-container"]:eq(0)'
                    ));
                }
                else if (element.is('.chosen-select'))
                {
                    error.insertAfter(element.siblings(
                        '[class*="chosen-container"]:eq(0)'
                    ));
                }
                else error.insertAfter(element.parent());
            },

            submitHandler: function(form)
            {
                submitdata();
            },
            invalidHandler: function(form) {}
        });
    });
</script>
