<div class="page-header">
    <h1>菜单信息

		<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
		</small>

	</h1>
</div>
<div class="row">
    <div class="col-xs-12">

        <div class="tabbable">
            <!--tab header 开始-->
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#home">
                        <i class="green ace-icon fa fa-home bigger-120"></i>
                        基本信息
                    </a>
                </li>
            </ul>
            <!--tab header 结束-->
        </div>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">

                                <div class="col-xs-12 col-sm-9">

                                    <div class="profile-user-info">
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">菜单标识</div>

                                            <div class="profile-info-value">
                                                <span><%.Model.ID%></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">所属模块</div>

                                            <div class="profile-info-value">
                                                <span></span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name">上级菜单</div>

                                            <div class="profile-info-value">
                                                <span><%.Model.PID%></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">菜单名称</div>

                                            <div class="profile-info-value">
                                                <span><%.Model.Name%></span>
                                            </div>
                                        </div>

                                        <div class="profile-info-row">
                                            <div class="profile-info-name">菜单描述</div>

                                            <div class="profile-info-value">
                                                <span><%.Model.Desc%></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">菜单地址</div>

                                            <div class="profile-info-value">
                                                <span><%.Model.NavUrl%></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">菜单图标</div>

                                            <div class="profile-info-value">
                                                <span><%.Model.IconUrl%></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">菜单权限</div>

                                            <div class="profile-info-value">
                                                <span><%.Model.ActionID%></span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">排序编号</div>

                                            <div class="profile-info-value">
                                                <span><%.Model.SortIndex%></span>
                                            </div>
                                        </div>  
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">状态</div>

                                            <div class="profile-info-value">
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr hr-8 dotted"></div>
                                </div>
                                <!-- /.col -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div id="role" class="tab-pane fade">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-header btn-info">
                            <i class="ace-icon fa  fa-users"></i>
                            用户
                            <div class="pull-right inline">
                                <a href="#" data-action="new" onclick='showEdit(0)'>
                                    <i class="ace-icon fa fa-plus white">&nbsp;</i>
                                    <span
                                    class="white">新增用户</span>&nbsp;&nbsp;
                                </a>
                            </div>
                        </div>
                        <div>
                            <table id="roleList" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>用户标识</th>
                                        <th>用户名称</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3" class="dataTables_empty">数据加载中...</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <div class="hide" id="priceDialog" tabindex="-1"></div>
                        <!-- /.modal -->
                    </div>
                </div>
            </div>

            <!--log start-->
            <div id="log" class="tab-pane fade">
                <div class="row">
                    <div class="col-xs-12 form-horizontal">
                        <div class="form-group">


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.col -->
</div>

