<div class="row">
    <div class="col-xs-12">
        <div class="breadcrumbs" id="breadcrumbs">
            <div class="nav-search" id="nav-search">
                <button class="btn btn-info btn-xs" id="btnGoBack">
                    <i class="ace-icon fa fa-undo"></i>
                    返回
                </button>
            </div>
        </div>
        <div class="widget-box widget-color-blue3 no-border">
            <div class="widget-header btn-info">
                <h5 class="widget-title">
                    <i class="ace-icon fa  fa-users"></i>
                    用户列表
                </h5>
                <div class="widget-toolbar">

                    <a href="#" data-action="reload" onclick="javascript: $('#table_role_user').dataTable().fnDraw(false);">
                        <i class="ace-icon fa fa-refresh"></i>
                    </a>
                </div>
                <div class="widget-toolbar no-border">
                    
                        <a href="#" data-action="new" onclick='showEdit(0)'>
                            <i class="ace-icon fa fa-plus white">&nbsp;</i><span class="white">添加</span>
                        </a>
                    
                </div>
            </div>
            <div class="widget-body">
                <div>
                    <table id="table_role_user" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>显示名称</th>
                                <th>登录名称</th>
                                <th>电子邮件</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6" class="dataTables_empty">数据加载中...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="hide" id="dialogModal"><h1>title</h1></div>
    </div>
    <!-- /.modal -->
</div>

<script type="text/javascript">
$(document).ready(function(){
        var id=<%.Model.ID%>;
        $("#btnGoBack").bind("click",function(){goBack(); });
        $("#btnEdit").bind("click",function(){showEdit(id); });
        $("#btnDelete").bind("click",function(){
            ace_alert("msg","title")
        });
        var columns = [
                { "mData": "ID", "bSortable": true, "width": "5%" },
                { "mData": "DisplayName", "bSortable": true},
                { "mData": "LoginName", "bSortable": false, "width": "10%" },
                { "mData": "Email", "bSortable": false, "width": "10%" },

                {
                    "mData": "ID", "mTitle": "", "bSortable": false, "width": "5%",
                    "mRender": function (data, type, full) {
                        var result= '<button class="btn btn-success btn-minier" onclick="deleteRoleUser(' + data + ')"><i class="icon-plus " />删除</button>';

                        return result;
                    }
                }
        ];
      var url="/system/role/user/list/json/"+id
        $("#table_role_user").dataTable({
            "iDisplayLength": 20,
            "aLengthMenu": [[15, 20, 25, 50, 100], [15, 20, 25, 50, 100]],
            "bAutoWidth": true,
            "bServerSide": true,
            "paging":false,
            "sAjaxSource": url,
            "sServerMethod": "POST",
            "fnServerParams": function (aoData) {

                var data = { "Name": $("#roleName").val() };
                aoData.push({ "name": "extPara", "value": json2str(data) });
            },
            "aoColumns": columns,
            "bFilter": false,
            "bInfo": false,
            "bProcessing": false,
            "sDom": "<'top'f>rt<'row'<'col-sm-6'l><'col-sm-6'p>>",
            "oLanguage": {
                "sLengthMenu": "每页 _MENU_ 条",
                "sZeroRecords": "没有数据",
                "sSearch": "查找",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                }
            }
        });


    });
    function showEdit(id) {
        var id=<%.Model.ID%>;
        var url = "/system/role/user/add/" + id;
        var opt = {
            url: url,
            title: '角色添加用户',
            btns: [
                {
                    "text": "保存并关闭",
                    "class": "btn btn-success",
                    "click": function () {
                        submitEvent(false);
                    }
                }
            ]
        };
        $.ui.easydialog(opt).showDialog()
    }
    function submitEvent() {
        var id=<%.Model.ID%>;
        var userIds=$('[name="duallistbox_demo1[]"]').val();
       
        var url = "/system/role/user/save";
        $.ajax({
            url: url,
            timeout: 30000,
            type: "POST",
            data: {RoleId:id,UserIds:""+userIds+"" },
            dataType: 'json',
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("An error has occurred making the request: " + errorThrown)
            },
            success: function (data) {
                if (data.code == "0000") {
                    closedialog_and_refreshdatatable("#dialogModal", "#table_role_user");
                    return true;
                } else {
                    ace_alert("错误", data.Message);
                    return false;
                }

            }
        });
    }

    function deleteRoleUser(userId)
    {
        var id=<%.Model.ID%>;
        
        var url = "/system/role/user/delete";
        confirm_refresh_datatable("确认", "确认要删除信息吗？", url,"#table_role_user",null,{RoleId:id,UserId:userId});
    }
</script>


